<ion-item-sliding #slidingItem *ngIf="item.visible">
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>{{ item.title }} <br> <span class="date">{{ item.createdAt | formatDate }}</span> </ion-label>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option>Edit</ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option (click)="delete(item.id, slidingItem)" color="danger">Delete</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
